<header id="admin-header" class="bg-gray-900 text-white border-b border-gray-700">
  <div class="max-w-5xl mx-auto px-4 py-4 flex items-center justify-between">
    <div class="text-xl font-bold">
      <a href="{{ url_for('root_bp.index') }}" class="hover:text-blue-500 transition duration-150">
        yehara admin
      </a>
    </div>
    <nav>
      {% if member %}
      <a href="{{ url_for('login_bp.logout') }}"
         class="text-sm text-blue-300 hover:text-white transition duration-150">
        Logout
      </a>
      {% else%}
      <a href="{{ url_for('login_bp.index') }}"
         class="text-sm text-blue-300 hover:text-white transition duration-150">
        Login
      </a>
      {% endif %}
    </nav>
  </div>
</header>

