<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>yehara</title>
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist.css') }}"
    {% endblock %}
  </head>
  <body class="h-screen">
    {% include 'includes/header.html' %}
    {% block body %}
    {% endblock %}
  </body>
  <script src="https://kit.fontawesome.com/41f8c4d20c.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  {% block script %}
  {% endblock %}
</html>
