{% extends 'includes/layout.html' %}

{% block body %}
<section id="profile">
  <div class="profile-container">
    <div class="profile-card">
      <div class="profile-image">
        <img src="/static/images/profile.png">
      </div>
      <div class="name">yehara</div>
      <div class="profile-icons">
        <a href="https://github.com/yuu-ux/" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://x.com/mazikado_jp" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
    <div class="profile-bio">
      <h2>Biography</h2>
      <p>
      Web Engineer with a strong interest in lightweight frameworks such as Echo and Flask. Skilled at quickly building prototypes and solving issues in large codebases. Experienced in designing and developing web applications with a focus on simplicity and speed.
      </p>
      <h3>Interests</h3>
      <ul>
        <li>Flask</li>
        <li>Docker</li>
        <li>Git</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
