{% extends 'includes/layout.html' %}

{% block body %}
<section id="profile">
  <div class="profile-container">
    <div class="profile-card">
      <div class="profile-image">
        <img src="/static/images/profile.png">
      </div>
      <div class="name">yehara</div>
      <div class="profile-icons">
        <a href="https://github.com/yuu-ux/" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://x.com/mazikado_jp" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
    <div class="profile-bio">
      <h2>自己紹介</h2>
      <p>
      サーバーサイドエンジニアのyeharaです。<br>
      軽量なフレームワーク(Flask, Echo)が好きです。
      </p>
      <p>
      現在はエンジニア養成期間の「42Tokyo」に通いながら、アルバイトでWebアプリケーションの開発、運用・保守を行っています。
      Webからシステムプログラミングまでなんでも好きです。<a href="https://x.com/mazikado_jp/status/1881719904845594941" target="_blank">低温調理器作ったり</a>、<a href="https://github.com/yuu-ux/discord-dm" target="_blank">同居人が退学しないように毎日退学日を自動送信したりしてます。</a>
      </p>
      <p>
      最近やりたことは、OSS 活動と Neovim のプラグイン自作とDockerの再実装です。
      Goも最近いいなと思ってるのでこれから書いていきたいです。
      </p>
      <h2>使用経験のある技術スタック</h2>
      <h3>🐳 インフラ</h3>
      <ul>
        <li>Docker</li>
        <li>AWS</li>
        <li>Linux</li>
        <li>GitHub Actions</li>
        <li>Nginx</li>
      </ul>

      <h3>🐍 バックエンド</h3>
      <ul>
        <li>Flask</li>
        <li>Django</li>
        <li>Python</li>
        <li>C</li>
        <li>Redis</li>
        <li>MySQL</li>
      </ul>

      <h3>🌐 フロントエンド</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>Tailwind CSS</li>
      </ul>

      <h3>☁️ モニタリング・運用</h3>
      <ul>
        <li>Sentry</li>
        <li>cron</li>
      </ul>

      <h3>🛠️ ツール</h3>
      <ul>
        <li>Git</li>
        <li>Neovim</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
